* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-text);
  transition: 0.5s;
}
/* Selection */
*::selection {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}
*::-moz-selection {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}
html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) transparent;
}
/* ScrollBar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 10px;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
}
a {
  text-decoration: none;
  color:var(--color-dark);
}
main {
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
}

/* Root Variables */
:root {
  --color-yellow: #c2b500;
  --color-yellow-active: #9e9402;
  --color-light: #ededed;
  --color-dark: #202020;
  --font-text: 'Gagalin';
  --font-title: 'Varela Round'
}

/* Global Variables */
.color-yellow {
  color: var(--color-yellow);
  font-weight: bold;
}
.bold {
  font-weight: bold;
  color: var(--color-dark);
}

/* btnScroll */
#scrollTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(20px);
}
#scrollTop button .fa-solid {
  font-size: 1.5rem;
}
#scrollTop button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Animations */
.item_hover {
  transition: 0.25s;
}
.item_hover:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
}
.item_hover:active {
  transform: translateY(-0.5em);
  cursor: pointer;
  transition: 0.1s;
}

.line_hover span {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
}
.line_hover span:before,
.line_hover span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--color-dark);
  transition: all 0.2s ease;
}
.line_hover span:after {
  width: 0%;
  height: 2px;
}
.line_hover span:hover:after {
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}