@tailwind base;
@tailwind components;
@tailwind utilities;

/* Line Hover Animation */
.line_hover span {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
}
.line_hover span:before,
.line_hover span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  transition: all 0.2s ease;
}
.line_hover span:after {
  width: 0%;
  height: 2px;
}
.line_hover span:hover:after {
  width: 100%;
}

/* ScrollBar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-radius: 10px;
}
