.about {
  width: 100%;
  height: auto;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: rgb(237,237,237);
  background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 35%, rgba(196,196,196,1) 100%);
}
.about_card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.about_subcard {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.about_card h1 {
  color: var(--color-dark);
  font-size: 5rem;
}
.about_subcard i {
  color: var(--color-dark);
}
.about_subcard h3 {
  color: var(--color-dark);
}
.about_subcard p {
  color: var(--color-dark);
  font-size: 1.2rem;
}
.about_subcard2 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(196,196,196,1);
  border-radius: 10px;
  background: linear-gradient(130deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 38%, rgba(196,196,196,1) 100%);
  -webkit-box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
  -moz-box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
  box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
}
.about_subcard2:hover {
  background: rgb(219, 218, 218);
}
.name {
  font-size: 1rem;
}

/* MediaScreen */
@media (max-width: 1200px) {
  .about_card {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .about_card h1 {
    color: var(--color-dark);
    font-size: 2rem;
  }
}