.contact {
  background-color: rgba(196, 196, 196, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 150px 0;
}
.card {
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 10px;
  background: linear-gradient(
    130deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(237, 237, 237, 1) 38%,
    rgba(196, 196, 196, 1) 100%
  );
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
}
.subcard {
  width: 70%;
  height: 90%;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.subcard_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 80%;
}
.socialNetworks {
  width: 250px;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  border-top: 1px solid var(--color-dark);
}
.socialNetworks a {
  color: var(--color-dark);
  font-size: 1.4rem;
}

/* MediaScreen */
@media (max-width: 750px) {
  .card {
    width: 90%;
  }
  .subcard {
    width: 90%;
  }
}
