.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: auto;
  padding: 56px 0px 100px 0px;
  background-color: rgba(196, 196, 196, 1);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 15px;
  gap: 20px;
}
.card {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 10px;
  background: linear-gradient(
    130deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(237, 237, 237, 1) 38%,
    rgba(196, 196, 196, 1) 100%
  );
  -webkit-box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
  -moz-box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
  box-shadow: 10px 10px 15px -7px rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
